// variables
$morning-bg-color: #85FFBD;
$morning-bg-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

$afternoon-bg-color: #FBAB7E;
$afternoon-bg-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

$night-bg-color: #6b74e8;
$night-bg-image: linear-gradient(22deg, #6b74e8 20%, #0008ee 100%);

// style
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.morning-background {
  background-image: $morning-bg-image;
}

.afternoon-background {
  background-image: $afternoon-bg-image;
}

.night-background {
  background-image: $night-bg-image;
}
